@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(".././fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url(".././fonts/Inter-Bold.woff2") format("woff2");
}

:root {
  --base-font-size: 16px;
  --medium-font-size: 25px;
  --base-font-stack: "Inter", system-ui, sans-serif;
  --mono-font-stack: "JetBrains Mono";
  --dim-black: #131313;
  --dim-white: #ddd;
  --dim-gray: #161616;
}

::selection {
  background: var(--dim-black);
  color: var(--dim-white);
}

* {
  box-sizing: border-box;
  font-family: var(--base-font-stack);
}

html {
  -webkit-text-size-adjust: none;
}

body {
  accent-color: #555;
  margin: 5vw;
  padding: 0;
  max-width: 95%;
}

h1 {
  letter-spacing: -0.5px;
  margin: 0;
}

textarea, p {
  font-size: var(--base-font-size);
}

textarea {
  border: 2px solid var(--dim-white);
  border-radius: 5px;
  min-height: 60vh;
  padding: 1rem;
  height: auto;
}

textarea:focus {
  outline: none;
  border-color: #ccc;
}

p, button, br, input {
  user-select: none;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="range"] {
  cursor: ew-resize;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

div > p > span {
  font-family: var(--mono-font-stack);
}

div > p:not(:last-of-type) {
  margin-bottom: 8px;
}

strong {
  font-size: var(--medium-font-size);
  display: block;
  margin-top: 8px;
}

strong, div > p > span {
  user-select: text;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

button:last-of-type {
  margin-bottom: 13px;
}

.sticky {
  position: sticky;
  top: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.monospace {
  font-family: var(--mono-font-stack);
}

img {
  width: 18px;
  height: auto;
  vertical-align: bottom;
  margin-right: 6px;
}

footer > p {
  margin-top: 15px;
}

a {
  text-decoration-color: #aaa;
  color: inherit;
}

/* dialog styles */

.dialog-container,
.dialog-overlay {
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
}

.dialog-container {
  z-index: 2; 
  display: flex;
}

.dialog-container[aria-hidden="true"] {
  display: none; 
}

.dialog-overlay {
  background-color: rgba(43, 46, 56, 0.9);
  backdrop-filter: blur(5px); 
}

.dialog-content {
  border-radius: 10px;
  padding: 15px;
  min-width: 55%;
  min-height: 35vh;
  margin: auto;
  position: relative;
}

.dialog-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dialog-header > button {
  margin: 0;
}

@media screen and (max-width: 815px) {
  #share {
    margin-bottom: 15px;
  }

  /* cheap hack to fix mobile bug */
  img {
    filter: invert(1);
  }

  input[type="range"] {
    width: 100%;
  }
}

@media screen and (min-width: 815px) {
  body {
    max-width: 90%;
  }

  main {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
  }

  section {
    margin-left: 2vw;
  }

  textarea {
    width: 75%;
  }

  h1 {
    margin: 15px 0px;
  }

  p {
    margin: 0;
  }

  .counters {
    margin-left: calc(15px + 0.5vw);
  }

  /* only do this on non-mobile devices as it is impossible to "hover" on mobile */
  footer > p {
    opacity: 0.35;
  }

  footer > p:hover {
    opacity: 1;
  }
}

@media screen and (prefers-color-scheme: light) {
  /* do not font smoothing in dark mode as it reduces readability */
  html {
    -webkit-font-smoothing: antialiased;
  }

  img {
    filter: invert(1);
  }
}

@media screen and (prefers-color-scheme: dark) {
  ::selection {
    background-color: var(--dim-white);
    color: var(--dim-black);
  }

  * {
    color: #ccc;
  }

  html {
    color-scheme: dark;
  }

  body {
    background-color: var(--dim-black);
  }

  h1, strong, span {
    color: white;
  }

  textarea {
    width: 100%;
    background-color: var(--dim-gray);
    border: 2px solid #333;
  }

  textarea:focus {
    outline: none;
    border-color: #aaa;
  }

  .dialog-content {
    background-color: var(--dim-gray);
  }
}
