:root {
  --base-font-size: 16px;
  --medium-font-size: 25px;
}

::selection {
  background: #131313;
  color: #ccc;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  margin: 5vw;
  padding: 0;
  max-width: 95%;
}

h1 {
  font-weight: 500;
  margin: 0;
}

textarea, p {
  font-size: var(--base-font-size);
}

textarea {
  border: 2px solid #ccc;
  border-radius: 5px;
  min-height: 60vh;
  padding: 1rem;
  width: 100%;
  height: auto;
}

textarea:focus {
  outline: none;
  border-color: #ccc;
}

a, .options {
  opacity: 0.35;
}

:where(a, .options):hover {
  opacity: 1;
}

p, button, br {
  user-select: none;
}

div > p {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}

strong {
  font-size: var(--medium-font-size);
  user-select: text;
  display: block;
  margin-top: 5px;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
}

button:first-of-type {
  margin-bottom: 6px;
}

img {
  width: 18px;
  height: auto;
  vertical-align: bottom;
  margin-right: 6px;
}

footer > p {
  margin-top: 15px;
}

a {
  text-decoration-color: #aaa;
}

@media screen and (min-width: 815px) {
  body {
    max-width: 85%;
  }

  main {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
  }

  section {
    margin-left: 2vw;
  }

  h1 {
    margin: 15px 0px;
  }

  p {
    margin: 0;
  }
}

@media screen and (prefers-color-scheme: dark) {
  ::selection {
    background-color: #ccc;
    color: #131313;
  }

  * {
    color: #ccc;
  }

  html {
    color-scheme: dark;
  }

  body, textarea {
    background: #131313;
  }

  textarea {
    border: 2px solid #333;
  }

  textarea:focus {
    outline: none;
    border-color: #aaa;
  }
}